<div id="menu">
    <div class="toggle">
        <span class="toggle-icon"></span>
    </div>

    <section class="about-me">
	<h1>Amor Tsai</h1>
        <h3>攻城狮</h3>
        <div class="social-grid">
            <a class="fa fa-twitter" href="https://twitter.com/amortsai" target="_blank"></a>
            <a class="fa fa-github-alt" href="https://github.com/amor-tsai" target="_blank"></a>
            <a class="fa fa-google-plus" href="https://plus.google.com/100632166854641501703" target="_blank"></a>
        </div>
    </section>
</div>
